@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    background: gray url(/imagens/fundo-madeira.jpg) top right no-repeat fixed;
    background-size: cover;
}

main {
    position: relative;
    height: 100vh;
}

#celular {
    position: absolute;

}